<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=MEOCON;Initial Catalog=QUANLYCHUOICUAHANG;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=1;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>