## Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.cache
*.dbmdl
*.lsproj.user
*.sqlproj.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

## Database
*.sqlite
*.db
local_db/
/Database/*.bak
/Database/*.mdf
/Database/*.ldf

## Packages & Others
.idea/
*.sln.iml
.vscode/
node_modules/
*.log
*.tmp
*.bak
